.header {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border-bottom: 1px solid gainsboro;
  transition: transform 0.3s ease;
  background-color: white;
  z-index: 999;
  &.hidden {
    transform: translateY(-100%);
  }
}

.heart-container {
  width: 40px;
  height: 40px;
  border: 2px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.heart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
}
